---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

.site-header {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: #333;
    color: #bbb;
}

.site-title, .site-title:visited {
    color: #ddd;
}
.site-title:hover {
    color: #ccc;
}



